
.client__list {
    display: flex;
  }
  
  .client__item {
    display: flex;
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
  

  .client__icon {
    fill: currentColor;
    width: 106px;
    height: 60px;
  }
  
  .client__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid currentColor;
    border-radius: 4px;
    color: #afb1b8;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: $--hover-animation;
    &__link:hover,
    &__link:focus{
      color: $--active-main-color;}
      }
  
  .client__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: $--main-title-color;
    margin-bottom: 50px;
  }