
.footer {
    display: flex;
    width: 100%;
    padding: 60px 0;
    background-color: $--dark-background-color;
  }
  

   
  .address__link {
    display: flex;
    align-items: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $--main-text-color;
    padding-top: 32px;
    padding-bottom: 32px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: $--hover-animation;

    .address__list & {
      padding-top: 0;
      padding-bottom: 9px;
    }

    &:hover,
    &:active{
      color: $--accent-color;
    }
  }
  
    .address__link--white {
    line-height: 1.71;
    color: $--white-text-color;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: $--hover-animation;

    &:hover,
    &:active{
      color: $--accent-color;
    }
  }
 
   
  .logo__text--white {
    color: $--white-text-color;
  }
  
  .address__item:not(:first-child) {
    margin-top: 9px;
  }
  
  
  .footer-container {
    display: flex;
    align-items: baseline;
  }
  
  .footer__list-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $--white-text-color;
    margin-bottom: 20px;
  }
  
  .footer__list {
    margin-left: 70px;

    &.social__link:hover,
    &.social__link:focus {
      background-color: $--active-main-color;
    }
    
    &.social__icon {
      fill: $--white-text-color;
    }
  }
  
  .social__link--grey {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .footer-form{
  display: flex;
  margin-left: 93px;

  &__label{
    display: flex;
    }
    
    &__title{
      display: block;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.16;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: $--white-text-color;
      margin-bottom: 20px;
    }

  }
  
  .footer-form__input{
  min-width: 358px;
  color: $--white-text-color;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;

  &:hover,
  &:focus{
    border-color: $--active-main-color;
  }

  &::placeholder{
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  
  }
   
  .footer-form__button{
  display: flex;
  border: 2px linear transparent;
  padding: 10px 28px;
  min-width: 200px;
  height: 50px;
  margin-left: 12px;
  background-color: $--accent-color;
  color: $--white-text-color;

  &:focus,
  &:hover{
    background-color: $--active-main-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   }

  }
  
  .footer__icon{
   margin-left: 10px;}